@{
    Layout = null;
}
@using BookRankings.Model;
@model IEnumerable<Book>
@{int id = 1; }

<table class="table table-striped" id="booksRanking">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Author</th>
            <th scope="col">Photo</th>
            <th scope="col">Added By</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            string path = book.ISBN + ".jpg";
            <tr>
                <th scope="row">@id</th>
                <td>@book.Name</td>
                <td>@book.Author</td>
                <td>
                    <img src="~/BookPhotos/@path" class="book-table-image" />
                </td>
                <td>@book.AddedBy.Name</td>
                <td><a class="btn btn-light" asp-action="RemoveBook" asp-controller="Admin" asp-route-id="@book.ISBN" data-ajax="true" data-ajax-update="#table"><i class="fa fa-trash"></i> Remove</a></td>
            </tr>
            id++;

        }
    </tbody>
</table>