@using BookRankings.ViewModels
@model List<PostLikedViewModel>

@foreach (var discussion in Model)
{
    <div class="discussion" >
        <div class="discussion-header">
            <div class="discussion-book">
                @discussion.Post.Title
            </div>
            <span class="discussion-date">
                <i class="far fa-clock"></i> @discussion.Post.PostedDate.ToShortDateString()
            </span>
        </div>
        <div class="discussion-content">
            @discussion.Post.Content
        </div>
        <div class="discussion-footer">
            @if (discussion.Liked)
            {
                <a class="discussion-likes discussion-likes-link" data-ajax="true"
                   data-ajax-update="#container" asp-action="AddLike" asp-route-id="@discussion.Post.Id"><i class="far fa-thumbs-up" style="color:red"></i> @discussion.Post.Likes</a>
            }
            else
            {
                <a class="discussion-likes discussion-likes-link" data-ajax="true"
                   data-ajax-update="#container" asp-action="AddLike" asp-route-id="@discussion.Post.Id"><i class="far fa-thumbs-up"></i> @discussion.Post.Likes</a>
            }
            <a class="discussion-comments"><i class="fas fa-comment" style="color : red"></i> @discussion.Post.CommentsNr</a>
        </div>
    </div>
}